.sidebar{
  width: 210px;
}
.sidebar .sidebar-wrapper{
  width: 210px;
}

.main-panel{
  width: calc(100% - 200px);
}
.nav-scroll::-webkit-scrollbar {
    width: 2px;
}

.nav-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.nav-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.sidebar .nav{
  margin-left: 0px;
}

.sidebar .nav p{
  line-height: 8px;
  /*font-size: 6px;*/
}

.sidebar-colored{
  /*background-color: #99CCFF;*/
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a{
  /*color: white: ;*/
}

.sidebar .logo{
  padding-bottom: 2px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
  font-size: 12px;
  padding: 5px;
  padding-bottom: 5px;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
  font-size: 11px;
  line-height: 10px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.font-sm{
  font-size: 11px;
  font-style: italic;
}

.report-link{
  font-size: 13px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


.sidebar .nav i{
  font-size: 16px;
  line-height: 8px;
}

.sidebar .nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a{
  margin-bottom: 0px;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
}

.sidebar[data-color="azure"] li.active > a{
  box-shadow: none;
}


.alert1 {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert1-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}