.nav-scroll::-webkit-scrollbar {
    width: 2px;
}

.nav-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.nav-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.sidebar .nav{
  margin-left: 0px;
}

.sidebar .nav p{
  line-height: 25px;
}

.sidebar-colored{
  /*background-color: #99CCFF;*/
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a{
  /*color: white: ;*/
}

.sidebar .logo{
  padding-bottom: 2px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
  font-size: 12px;
  padding: 5px;
  padding-bottom: 5px;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
  font-size: 11px;
  line-height: 10px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.font-sm{
  font-size: 11px;
  font-style: italic;
}

.report-link{
  font-size: 13px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



/*.backgroundOne{
  background-color: #2A58AD;
}

.colorOne{
  color: #BEC8E0;
  font-weight: 600; 
}*/

/*.backgroundOne{
  background-color: #02E1DE;
}

.colorOne{
  color: #ECFCFB;
  font-weight: 600; 

.sidebar[data-color="lightgreen"] li.active > a {
    background-color: red;
}*/


/*.backgroundOne{
  background-color: #FF7632;
}

.colorOne{
  color: #fff;
  font-weight: 600; 
}

.sidebar[data-color="danger"] li.active > a {
    background-color: red;
}*/